<h3>Perfis</h3>

<%= link_to 'Voltar', root_path %>

<% if @enterprise.nil? %>
  <h1>Conta inválida</h1>
  <h3>Verificar com a empresa responsável</h3>
<% else %>
  <% if current_user.profile.nil?%>
    <p><%= link_to 'Meu perfil', new_profile_path %></p>
  <% else %>
    <p><%= link_to 'Meu perfil', profile_path(current_user.profile) %></p>
  <% end %>
<% end %>

<ul>
<% @profiles.each do |profile| %>
  <li><%= link_to "#{profile.social_name} - #{profile.department}", profile%></li>
<% end %>
</ul>