<%= link_to 'Voltar', root_path %>
<p><%= link_to 'Anunciar um produto', new_product_path %></p>

<% if @available_products.empty? %>
  <h3>Nenhum produto anunciado!</h3>
<% else %>
  <ul>
  <% @available_products.each do |product| %>
      <li><%=link_to "#{product.name} - #{number_to_currency product.price}", product%></li>
  <% end %>
  </ul>
<% end %>