<%= link_to 'Voltar', root_path %>

<% if @available_products.empty? %>
  <h3>Nenhum produto anunciado!</h3>
<% else %>
  <% @available_products.each do |product| %>
      <p><%= "#{product.name} - #{number_to_currency product.price}"%></p>
  <% end %>
<% end %>