<%= link_to 'Voltar', root_path %>

<ul>
<% @current_profile_products.each do |product| %>
  <% if product.waiting_confirmation? %>
    <li><%= link_to "#{product.name} - Aguardando confirmação", product %></li>
  <% elsif product.sold? %>
    <li><%= "#{product.name} - Vendido" %></li>
  <% else %>
    <li><%= "#{product.name} - Disponível" %></li>
  <% end %>
<% end %>
</ul>